<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>用户列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/theme.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/combo/dhtmlxcombo.css"/>
		<script src="__PUBLIC__/js/combo/dhtmlxcombo.js"></script>
		<script type="text/javascript" src="__PUBLIC__/layer/jquery-1.9.1.js"></script>
	<script src="__PUBLIC__/validate/jquery.js"></script>
    <script src="__PUBLIC__/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/validate/localization/messages_zh.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/ajaxfileupload.js"></script>

		<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
		<script type="text/javascript">
			 $().ready(function() {
                   $("#form1").validate();
             });
			
			//提交审核
			function submitAudit() {
					// var checked = checkForm('#form1');
					// if (checked == false) {
						// return;
				// }
				
				var zc_date = $('#zc_date').val();
				if(zc_date>='201601'){
					alert('注册时间为2016年的不能直接上报开工项目！');
					return;
				}
				
					//========================投资额超过100亿元提醒=====================
				var qy_total_invest= $("input[name='qy_total_invest']").val();
				var qy_first_invest= $("input[name='qy_first_invest']").val();
				
				if(qy_total_invest>100 || qy_first_invest>100){
					if(confirm("提示：投资额超过了100亿元！确定吗?")){
						$('#qy_flag').attr('value','已保存');
				        $('#form1').submit();
					}
					return;
				}
				//===========================================================
				$('#kg_flag').attr('value', '审核中');
				$('#form1').submit();
			}

			function saveForm() {
					// var checked = checkForm('#form1');
					// if (checked == false) {
						// return;
				// }
				
				var zc_date = $('#zc_date').val();
				if(zc_date>='201601'){
					alert('注册时间为2016年的不能直接上报开工项目！');
					return;
				}
				
				//========================投资额超过100亿元提醒=====================
				var qy_total_invest= $("input[name='qy_total_invest']").val();
				var qy_first_invest= $("input[name='qy_first_invest']").val();
				
				if(qy_total_invest>100 || qy_first_invest>100){
					if(confirm("提示：投资额超过了100亿元！确定吗?")){
						$('#qy_flag').attr('value','已保存');
				        $('#form1').submit();
					}
					return;
				}
				//===========================================================
				$('#kg_flag').attr('value', '已保存');
				$('#form1').submit();
			}
		</script>
	</head>

	<body>
		<div class="content">
			<ul class="breadcrumb">
				<li>
					<a href="__APP__/Admin/Index/main.html">首页</a><span class="divider">/</span>
				</li>
				<li>
					<a href="__APP__/Admin/Project/ztProjectMain">开工项目一览表</a><span class="divider">/</span>
				</li>
				<li class="active">
					添加项目
				</li>
			</ul>

			<div class="container-fluid">
				<div class="row-fluid">
					<div class="btn-toolbar">
						<button class="btn btn-primary" onclick="saveForm()">
							<img src="__PUBLIC__/images/icon/clipboard.png" class="clipboard"/> 保存
						</button>
						<a href="javascript:submitAudit()" class="btn">提交审核</a>
						<a href="javascript:history.back();" class="btn">返回</a>
						<div class="btn-group"></div>
					</div>
					<div class="well you-bg">
						<form id="form1" action="{$mo==null?'__URL__/insert':'__URL__/update'}?toPage={$toPage}" method="post">
							<input type="hidden" name="id" value="{$mo.id}" />
							<input type="hidden" name="kg_status" value="已开工" />
							<input type="hidden" id="kg_flag" name="kg_flag" value="" />
							
  <?php if(($mo["qy_flag"]) != "审核通过" && ($mo["zc_flag"]) != "审核通过" && ($mo["kg_flag"]) != "审核通过" && ($mo["tc_flag"]) != "审核通过"): ?>
							

							<font color="red"><h3>签约信息</h3></font>
							<hr>
							<!-- 签约项目模板 -->
							<include file="Public/qy" />
    <?php else: ?> 
						

							<font color="red"><h3>签约信息</h3></font>
							<hr>
							<!-- 签约项目模板 -->
							<include file="Public/audit_qy" />
	<?php endif; ?>	

 <?php if(($mo["zc_flag"]) != "审核通过" && ($mo["kg_flag"]) != "审核通过" && ($mo["tc_flag"]) != "审核通过"): ?>
							<font color="red"><h3>注册信息</h3></font>
							<hr>
							<!-- 注册项目模板 -->
							<include file="Public/zc" />
	 <?php else: ?> 
			                <font color="red"><h3>注册信息</h3></font>
							<hr>
							<!-- 注册项目模板 -->
							<include file="Public/audit_zc" />
  <?php endif; ?>	

							<font color="red"><h3>开工信息</h3></font>
							<hr>
							<!-- 开工项目模板 -->
							<include file="Public/kg" />

							<h3>审核记录</h3>
							<font color="blue">{$mo.kg_opinion}</font>

						</form>
					</div>

				</div>
			</div>
		</div>
	</body>

</html>
