<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>用户列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/theme.css">
		<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
		<script src="__PUBLIC__/validate/jquery.js"></script>
    <script src="__PUBLIC__/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/validate/localization/messages_zh.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/DatePicker/WdatePicker.js"></script>

	<script type="text/javascript">
	     $().ready(function() {
                $("#form1").validate();
         });

	//查询
	   function doQuery(){
	   	   $('#form1').attr('action','__SELF__');
	   	   $('#form1').submit();
	   } 
	
	//导出到excel
	   function doExcel(){
	   	   $('#form1').attr('action','__SELF___excel');
	   	   $('#form1').submit();
	   }

	</script>
	</head>

	<body>
		<div class="content">
			<ul class="breadcrumb">
				<li>
					<a href="__APP__/Admin/Index/main.html">首页</a><span class="divider">/</span>
				</li>
				<li class="active">
					新投产重点项目汇总
				</li>
			</ul>

			<div class="container-fluid">
				<div class="row-fluid">

					<div class="btn-toolbar">						
						<form class="form-inline" id="form1" action="" method="post">		
						开工时间：
						<input type="text" id="s_date" name="s_date" value="{$s_date}" class="Wdate"  onclick="WdatePicker({dateFmt:'yyyyMM'})" size="10" />
						至
						<input type="text" id="e_date" name="e_date" value="{$e_date}" class="Wdate"  onclick="WdatePicker({dateFmt:'yyyyMM'})" size="10" />
						总投资额大于等于[亿]:<input type="number" name="qy_total_invest" value="{$qy_total_invest}" size="3">
						审核状态：<select name="tc_flag" >
							<option value="" <eq name="tc_flag" value="">selected</eq>>-查询所有-</option>
							<option value="审核通过" <eq name="tc_flag" value="审核通过">selected</eq>>审核通过</option>
							<option value="审核未通过" <eq name="tc_flag" value="审核未通过">selected</eq>>审核未通过</option>
							<option value="审核中" <eq name="tc_flag" value="审核中">selected</eq>>审核中</option>
							<option value="已保存" <eq name="tc_flag" value="已保存">selected</eq>>已保存</option>
						</select>
						<a class="btn" onclick="doQuery()">查询</a>
						<a class="btn" onclick="doExcel()">导出到excel</a>
						
						</form>
					</div>
<div class="block-tab">
    <table class="table-mins">
							<thead>
								<tr>
									<th>单位</th>
									<th>序号</th>
									<th>报送时间</th>
									<th>外来投资方名称</th>
									<th>在黄注册名称</th>
									<th>法人代表</th>
									<th>注册时间</th>
									<th>注册资本[万元]</th>
									<th>总投资额[亿元]</th>
									<th>累计实际到资总额[亿元]</th>
									<th>项目建设内容</th>
									<th>产业类别</th>
									<th>投产时间</th>
									<th>建设地点[注明园区]</th>
									<th>项目用地[亩]</th>
									<th>月度销售收入[亿元]</th>
									<th >操作</th>
								</tr>
							</thead>
							<tbody>
								
					    <empty name="list">
						<tr>
							<td colspan="20" align="center"><font color="red">查无数据</font></td>
						</tr>
						</empty>

								<foreach name="list" item="vo" key="k">

									<tr id="{$vo.id }" <eq name="k%2" value="0">
										class="odd"
										<else/>
										class="even"
									</eq>>
										<td>
											{$vo.add_dept}
										</td>
										<td>{$np+$k+1}</td>
										<td>{$vo.add_time|substr=0,10}</td>
										<td>{$vo.qy_outside_investor}</td>
										<td>{$vo.zc_hs_name}</td>
										<td>{$vo.zc_legal_person}</td>
										<td>{$vo.zc_date}</td>
										<td>{$vo.zc_capital}</td>
										<td>{$vo.qy_total_invest}</td>
										<td>{$vo.tc_accumulative_in_invest}</td>
										<td>{$vo.qy_build_content}</td>
										<td>{$vo.qy_industry_category}</td>
										<td>{$vo.tc_date}</td>
										<td>{$vo.zc_build_place}</td>
										<td>{$vo.zc_user_land}</td>
										<td>{$vo.tc_month_sale_money}</td>								
										<td>
											<a href="__URL__/seeProjectUI?id={$vo.id}&showNum=5">查看</a>
										</td>                                        
									</tr>

								</foreach>

					</tbody>
						</table>
					</div>

											<div class="block-foot">
											        <div class="pagination">
											            {$page}
											        </div>
											</div>

				</div>
			</div>
		</div>
	</body>
	
</html>
