<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>用户列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/theme.css">
		<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>

	<script type="text/javascript">
	     //提交审核、撤销提交
			function updateAudit(field,fieldValue){
				var ids = getId('delete');
				if (ids == false) {
					return;
				}
				//alert(ids);
				if (confirm("确定操作吗？")) {
					location.href = "__URL__/cmdAudit?ids=" + ids+"&field="+field+"&fieldValue="+fieldValue;
				}
			}
	    function doQuery(){
	   	    var zc_hs_name  = $('#zc_hs_name').val();
	   	 	location.href = '__URL__/tcProjectMain?zc_hs_name=' + zc_hs_name;
	   } 
		//删除
		function doDelete() {
			var ids = getId('delete');
			if (ids == false) {
				return;
			}
			//alert(ids);
			if (confirm("确定删除吗？")) {
				location.href = '__URL__/delete?ids=' + ids;
			}
		}

		
	</script>
	</head>

	<body>
		<div class="content">
			<ul class="breadcrumb">
				<li>
					<a href="__APP__/Admin/Index/main.html">首页</a><span class="divider">/</span>
				</li>
				<li class="active">
					投产项目一览表
				</li>
			</ul>

			<div class="container-fluid">
				<div class="row-fluid">

					<div class="btn-toolbar">
						<a href="javascript:history.back();" class="btn">返回</a>
					</div>
<div class="block-tab">
    <table class="table-mins">
							<thead>
								<tr>
									<!-- <th>
									<input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll(this)">
									</th>
									<th>编号</th> -->
									<th>投资方名称</th>
									<th>在黄注册名称</th>
									<th>法人代表</th>
									<th>注册时间</th>
									<th>注册资本[万元]</th>
									<th>总投资额[亿元]</th>
									<th>累计实际到资额[亿元]</th>
									<th>项目建设内容</th>
									<th>产业类别</th>
									<th>投产时间</th>
									<th>建设地点[注明园区]</th>
									<th>项目用地[亩]</th>
									<th>月度销售收入[亿元]</th>
									<th>备注</th>
									<th>状态</th>
									<th>审核状态</th>
									<th >操作</th>
								</tr>
							</thead>
							<tbody>
                      <empty name="list">
						<tr>
							<td colspan="20" align="center"><font color="red">查无数据</font></td>
						</tr>
						</empty>
								<foreach name="list" item="vo" key="k">

									<tr id="{$vo.id }" <eq name="k%2" value="0">
										class="odd"
										<else/>
										class="even"
									</eq>>
										<!-- <td>
											<neq name="vo.tc_flag" value="审核通过">		
										<input type="checkbox" name="chk" id="chk">
										    </neq>
										</td>
										<td>{$vo.id}</td> -->
										<td>{$vo.qy_outside_investor}</td>
										<td>{$vo.zc_hs_name}</td>
										<td>{$vo.zc_legal_person}</td>
										<td>{$vo.zc_date}</td>
										<td>{$vo.zc_capital}</td>
										<td>{$vo.qy_total_invest}</td>
										<td>{$vo.tc_accumulative_in_invest}</td>
										<td>{$vo.qy_build_content}</td>
										<td>{$vo.qy_industry_category}</td>
										<td>{$vo.tc_date}</td>
										<td>{$vo.zc_build_place}</td>
										<td>{$vo.zc_user_land}</td>
										<td>{$vo.tc_month_sale_money}</td>
										<td>{$vo.tc_remark}</td>
										<td><font color="red">{$vo.tc_status}</font></td>
										<td><font color="red">{$vo.tc_flag}</font></td>
										<td>
											<a href="__URL__/seeProjectUI?id={$vo.id}&showNum=5">查看</a>
										</td>
										<!-- <td>
										    <neq name="vo.tc_flag" value="审核通过">		
											<a href="__URL__/tcProjectUI?id={$vo.id}">编辑</a>
											</neq>
										</td> -->
									</tr>

								</foreach>

							</tbody>
						</table>
					</div>

											<div class="block-foot">
											        <div class="pagination">
											            {$page}
											        </div>
											</div>

				</div>
			</div>
		</div>
	</body>
	
</html>
