<table class="youAdd tabAudit">
	<tr>
		<td class="TDleft"><label>项目名称：</label></td>
		<td width="30%">
		{$mo.qy_project_name}
		</td>
		<td class="TDleft"><label>建设内容：</label></td>
		<td>
		{$mo.qy_build_content}
		</td>
	</tr>
	
	<tr>
		<td class="TDleft"><label>本地投资方：</label></td>
		<td>
		{$mo.qy_local_investor}
		</td>
		<td class="TDleft"><label>外来投资方：</label></td>
		<td>
		{$mo.qy_outside_investor}
		</td>
	</tr>
	
	<tr>
		<td class="TDleft"><label>总投资额[亿元]：</label></td>
		<td>
		{$mo.qy_total_invest}
		</td>
		<td class="TDleft"><label>一期投资额[亿元]：</label></td>
		<td>
		{$mo.qy_first_invest}
		</td>
	</tr>
	<tr>
		<td class="TDleft"><label>行业类别：</label></td>
		<td >
	   {$mo.qy_trade_type}
		</td>
		<td class="TDleft"><label>产业类别：</label></td>
		<td>
		{$mo.qy_industry_category}
		</td>
	</tr>
	<tr>
	    <td class="TDleft"><label>签约时间：</label></td>
		<td>
		{$mo.qy_date}
		</td>
		<td class="TDleft"><label>签约备注：</label></td>
		<td >
		{$mo.qy_remark}
		</td>
	</tr>
</table>

