<select id="add_dept" name="add_dept">
							<option value="" <eq name="add_dept" value="">selected</eq> >-查询所有-</option>
							<option value="开发区" <eq name="add_dept" value="开发区">selected</eq> >开发区</option>
							<option value="大冶市" <eq name="add_dept" value="大冶市">selected</eq> >大冶市</option>
							<option value="阳新县" <eq name="add_dept" value="阳新县">selected</eq> >阳新县</option>
							<option value="黄石港区" <eq name="add_dept" value="黄石港区">selected</eq> >黄石港区</option>
							<option value="西塞山区" <eq name="add_dept" value="西塞山区">selected</eq> >西塞山区</option>
							<option value="下陆区" <eq name="add_dept" value="下陆区">selected</eq> >下陆区</option>
							<option value="铁山区" <eq name="add_dept" value="铁山区">selected</eq> >铁山区</option>
							<option value="市经信委" <eq name="add_dept" value="市经信委">selected</eq> >市经信委</option>
							<option value="市国资委" <eq name="add_dept" value="市国资委">selected</eq> >市国资委</option>
							<option value="市科技局" <eq name="add_dept" value="市科技局">selected</eq> >市科技局</option>
							<option value="市财政局" <eq name="add_dept" value="市财政局">selected</eq> >市财政局</option>
							<option value="市商务委" <eq name="add_dept" value="市商务委">selected</eq> >市商务委</option>
							<option value="市委统战部" <eq name="add_dept" value="市委统战部">selected</eq> >市委统战部</option>
							<option value="市卫计委" <eq name="add_dept" value="市卫计委">selected</eq> >市卫计委</option>
							<option value="市食药监局" <eq name="add_dept" value="市食药监局">selected</eq> >市食药监局</option>
							<option value="市商务委" <eq name="add_dept" value="市商务委">selected</eq> >市商务委</option>
							<option value="市房产局" <eq name="add_dept" value="市房产局">selected</eq> >市房产局</option>
							<option value="市发改委" <eq name="add_dept" value="市发改委">selected</eq> >市发改委</option>
							<option value="市台办" <eq name="add_dept" value="市台办">selected</eq> >市台办</option>
							<!-- <foreach name="Think.session.deptList" item="vo" >									
								<option value="{$vo.dept}" <eq name="add_dept" value="$vo.dept">selected</eq> >{$vo.dept}</option>
							</foreach> -->
						</select>