<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>用户列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/theme.css">
		<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>

	<script type="text/javascript">
	   //提交审核、撤销提交
			function updateAudit(flag){
				var ids = getId('delete');
				if (ids == false) {
					return;
				}
				//alert(ids);
				if (confirm("确定操作吗？")) {
					location.href = "__URL__/chanageFlag?ids=" + ids+"&flag="+flag;
				}
			}
		//删除
		function doDelete() {
			var ids = getId('delete');
			if (ids == false) {
				return;
			}
			//alert(ids);
			if (confirm("确定删除吗？")) {
				location.href = '__URL__/delete?ids=' + ids;
			}
		}

	</script>
	</head>

	<body>
		<div class="content">
			<ul class="breadcrumb">
				<li>
					<a href="__APP__/Admin/Index/main.html">首页</a><span class="divider">/</span>
				</li>
				<li class="active">
					驻外招商一览表
				</li>
			</ul>

			<div class="container-fluid">
				<div class="row-fluid">

					<div class="btn-toolbar">
						<button class="btn btn-danger pull-right" onclick="doDelete()">
							<img src="__PUBLIC__/images/icon/cross.png"/> 删除
						</button>
						<a href="__URL__/outsideUI" class="btn btn-primary"><img src="__PUBLIC__/images/icon/plus.png"/> 新增</a>　　
						<a href="javascript:updateAudit('审核中')" class="btn btn-info"> 提交审核</a>
						<a href="javascript:updateAudit('已保存')" class="btn"> 撤销提交</a>
					</div>
					<div class="block-tab">
    <table class="table-mins">
							<thead>
								<tr>
									<th>								
									<input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll(this)">
									</th>
									<th>招商领导类型</th>
									<th>部门</th>
									<th>姓名</th>
									
									<th>时间</th>
									<th>天数</th>
									<th>目的地</th>
									<th>拜访企业名称</th>
									<th>接洽人姓名</th>
									<th>接洽人职务</th>
									<th>状态</th>
									<th colspan="2">操作</th>
								</tr>
							</thead>
							<tbody>

                           <empty name="list">
						<tr>
							<td colspan="20" align="center"><font color="red">暂无记录</font></td>
						</tr>
						</empty>
								<foreach name="list" item="vo" key="k">

									<tr id="{$vo.id }" 
									<eq name="k%2" value="0">
										class="odd"
										<else/>
										class="even"
									</eq> >
										<td>
											 <neq name="vo.flag" value="审核通过">	
										<input type="checkbox" name="chk" id="chk">
										     </neq>
										</td>
										<td>{$vo.leader_type}</td>
										<td>{$vo.dept}</td>
										<td>{$vo.name}</td>
									
										<td>{$vo.sdate}</td>
										<td>{$vo.num}</td>
										<td>{$vo.dest}</td>
										<td>{$vo.visit_company}</td>
										<td>{$vo.vister_man}</td>
										<td>{$vo.vister_man_position}</td>
										<td><font color="red">{$vo.flag}</font></td>
										<td>										
											<a href="__URL__/seeOutsideUI?id={$vo.id}">查看</a>
										</td>
										<td>
											 <neq name="vo.flag" value="审核通过">	
											<a href="__URL__/outsideUI?id={$vo.id}">编辑</a>
											 </neq>
										</td>
									</tr>

								</foreach>

						
							</tbody>
						</table>
					</div>

											<div class="block-foot">
											        <div class="pagination">
											            {$page}
											        </div>
											</div>

				</div>
			</div>
		</div>
	</body>
	
</html>
