<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>用户列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/theme.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/combo/dhtmlxcombo.css"/>
		<script src="__PUBLIC__/js/combo/dhtmlxcombo.js"></script>
        	    <!-- <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> -->
	<script type="text/javascript" src="__PUBLIC__/layer/jquery-1.9.1.js"></script>
	<script src="__PUBLIC__/validate/jquery.js"></script>
    <script src="__PUBLIC__/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/validate/localization/messages_zh.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ajaxfileupload.js"></script>
  
    
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    
    <!-- <script src="http://res.layui.com/lay/lib/layer/src/layer.js?v=2.1"></script> -->

	<script type="text/javascript">
	    $().ready(function() {
            $("#form1").validate();
        });
	    //弹出操作窗口
	    function popLayer(){
	    	
	    //页面层
    layer.open({
        type: 2,
        title: '从高拍仪拍照',
        maxmin: true,
        //shade:0,
        shadeClose: true, //点击遮罩关闭层
        area : ['800px' , '520px'],
        content: '__APP__/Admin/Gpy/show.html',
         btn: ['确定'],
         yes: function(index, layero){
             //do something
             //alert(layer.getChildFrame('#div_gpy_attachment', index).text());
             
              var gpyArr = layer.getChildFrame('#div_gpy_attachment', index).text().split(";");
             
              var div = $('#div_gpy_attachment');
              for(var i=0;i<gpyArr.length;i++){
              	var name = gpyArr[i];
              	if(name!=''){             		
				var html = '<div>'
						    +'<a href="__UPLOADS__/gpy/'+name+'" target="_blank">'+name+'</a>'
		                    +'<input type="hidden" id="gpy" name="gpy[]" value="'+name+'" />'
		                    +'<a onclick="removeParent(this)"><img src="__PUBLIC__/images/remove.png" /></a>'
							+'</div>';
				div.append(html);
              	}
              }
             
             
             
          layer.close(index); //如果设定了yes回调，需进行手工关闭
         }
    });
	    
	    }
	    
	    //提交审核
			function submitAudit() {
				// var checked = checkForm('#form1');
				// if (checked == false) {
					// return;
				// }
				$('#flag').attr('value','审核中');
				$('#form1').submit();
			}
	    
	   //提交表单
		function saveForm() {
			// var checked = checkForm('#form1');
			// if (checked == false) {
				// return;
			// }
			$("#form1").validate();
			$('#flag').attr('value','已保存');
			$('#form1').submit();
		}
		
		
		//===================================附件上传===========================================

function doUpload(){
	 $.ajaxFileUpload
     (
         {
             url: '__APP__/Home/File/upload', //用于文件上传的服务器端请求地址
             type: 'post',
             data: { fileId: 'file_attachment', name: 'lunis' }, //此参数非常严谨，写错一个引号都不行
             secureuri: false, //一般设置为false
             fileElementId: 'file_attachment', //文件上传空间的id属性  <input type="file" id="file1" name="file1" />
             dataType: 'text', //返回值类型 一般设置为json
             success: function (data, status)  //服务器成功响应处理函数
             {
                var name=data.name;
                var url=data.url;
                var href = url;
                
                
               // alert(name+";"+url);
                
                var div = $('#div_attachment');
				var html = '<div>'
						    +'<input type="hidden" name="attachment[]" value="'+name+'">'
							+'<input type="hidden" name="attachment_url[]" value="'+url+'">'
							+'<a href="'+href+'" target="_blank">'+name+'</a><a onclick="removeParent(this)"><img src="__PUBLIC__/images/remove.png"></a>'
							+'</div>';
				div.append(html);
             },
             error: function (data, status, e)//服务器响应失败处理函数
             {
                 alert(e);
             }
         }
     );
}

         /**
          *移除父对象 
          */
         function removeParent(obj){
         	$(obj).parent().remove();
         }
		
		
		
		//==============================分割线==========================================
		
		function addItem(obj){
			var html='<tr>'
					  +'<td><input type="text" name="visit_company[]" value="" class="input-large" required="required"></td>'
						+'<td><input type="text" name="vister_man[]" value="" class="input-large" required="required"></td>'
						+'<td><input type="text" name="vister_man_position[]" value="" class="input-large" required="required"></td>'
					   +' <td>'
						+'	<a href="javascript:#" onclick="addItem(this)">添加一行</a>'
						+'	<a href="javascript:#" onclick="removeItem(this)">删除一行</a>'
						+'</td>'
					 +' </tr>';
		     $(obj).parent().parent().after(html);
		}
		
		function removeItem(obj){
			$(obj).parent().parent().remove();
		}
		
		
		
		
		//测试
		function test(){
			layer.open({
  type: 2,
   maxmin: true,
  area : ['800px' , '520px'],
  content: 'http://xyjg.egs.gov.cn/ECPS_HB/search.jspx',
  success: function(layero, index){
    
    alert("ee");
    var body = layer.getChildFrame('body', index);
    
    alert('cc='+body);
    body.find('#entName').attr('value','cccc');
    
    
  }
});       
		}
		
		
		
	</script>
	</head>

	<body>
		
  
		
		<div class="content">
			<ul class="breadcrumb">
				<li>
					<a href="__APP__/Admin/Index/main.html">首页</a><span class="divider">/</span>
				</li>
				<li>
					<a href="__APP__/Admin/Project/ztProjectMain">驻外招商一览表</a><span class="divider">/</span>
				</li>
				<li class="active">
					添加项目
				</li>
			</ul>

 

			<div class="container-fluid">
				<div class="row-fluid">
					<div class="btn-toolbar">
						<button class="btn btn-primary" onclick="saveForm()">
							<img src="__PUBLIC__/images/icon/clipboard.png" class="clipboard"/> 保存
						</button>
						<a href="javascript:submitAudit()" class="btn">提交审核</a>
						<!-- <a href="javascript:test()" class="btn">test</a> -->
						<a href="javascript:history.back();" class="btn">返回</a>
						<div class="btn-group"></div>
					</div>
					
					<div class="well you-bg">
						<form id="form1" action="{$mo==null?'__URL__/insert':'__URL__/update'}?toPage={$toPage}" method="post">
							<input type="hidden" name="id" value="{$mo.id}" />
							<input type="hidden" id="flag" name="flag" value="" />

							<table class="youAdd">
								
								<tr>
									<td class="TDleft"><label>姓名：<font color="red">*</font></label></td>
									<td>
									<input type="text" name="name" value="{$mo.name}" class="input-large" required="required">
									</td>
									<td class="TDleft"><label>部门：<font color="red">*</font></label></td>
									<td>
									<input type="text" name="dept" value="{$mo.dept|default=$_SESSION['user']['dept']}" class="input-large" required="required">
									</td>
								</tr>
								<tr>
									<td class="TDleft"><label>招商领导类型：<font color="red">*</font></label></td>
									<td>
									<!-- <input type="text" name="leader_type" value="{$mo.name|default=$_SESSION['user']['cnname']}" class="input-large"> -->
									<select name="leader_type" required="required">
										<option value="" <eq name="mo.leader_type" value="">selected</eq> >-请选择-</option>
										<option value="党政主职" <eq name="mo.leader_type" value="党政主职">selected</eq> >党政主职</option>
										<option value="分局局长" <eq name="mo.leader_type" value="分局局长">selected</eq> >分局局长</option>
										<option value="其他"  <eq name="mo.leader_type" value="其他">selected</eq> >其他</option>
									</select>
									
									</td>
									<td class="TDleft"><label>到达目的地：<font color="red">*</font></label></td>
									<td>
									<input type="text" name="dest" value="{$mo.dest}" class="input-large" required="required">
									</td>
								</tr>
								<tr>
									<td class="TDleft"><label>开始时间：<font color="red">*</font></label></td>
									<td>
									<input type="text" name="sdate" value="{$mo.sdate}" class="Wdate"  onclick="WdatePicker({dateFmt:'yyyyMMdd'})" required="required">
									</td>
									<td class="TDleft"><label>结束时间：<font color="red">*</font></label></td>
									<td>
									<input type="text" name="edate" value="{$mo.edate}" class="Wdate"  onclick="WdatePicker({dateFmt:'yyyyMMdd'})" required="required">
									</td>
									
								</tr>
								<tr>
									<td class="TDleft"><label>出访天数（天）：<font color="red">*</font></label></td>
									<td>
									<input type="number" name="num" value="{$mo.num}" class="input-large" required="required">
									</td>
									
									<td class="TDleft"><label>所属产业链：<font color="red">*</font></label></td>
		<td>
		<select id="industry_chain" name="industry_chain" required="required">
			   <option value="" <eq name="mo.industry_chain" value="">selected</eq>>-请选择-</option>
			   <foreach name="Think.session.zidianList" item="vo" >  
                    <eq name="vo.kind" value="所属产业链">          		
                     	<option value="{$vo.name}" <eq name="mo.industry_chain" value="$vo.name">selected</eq>>{$vo.name}</option>
                    </eq>
               </foreach>
		</select>
		
		</td>
								</tr>
								<tr>
									<!-- <td class="TDleft"><label>拜访企业名称：</label></td>
									<td>
									<input type="text" name="visit_company" value="{$mo.visit_company}" class="input-large">
									</td>
									<td class="TDleft"><label>接洽人姓名：</label></td>
									<td>
									<input type="text" name="vister_man" value="{$mo.vister_man}" class="input-large">
									</td>
									<td class="TDleft"><label>接洽人职务：</label></td>
									<td colspan="3">
									<input type="text" name="vister_man_position" value="{$mo.vister_man_position}" class="input-large">
									</td> -->
								    
								   
								    
								</tr>
								<tr>
									<td class="TDleft"><label>备注：</label></td>
									<td colspan="3">
									 <textarea class="input-xxlarge" name="remark">{$mo.remark}</textarea>
									</td>
								</tr>
      <tr>
		    	<td class="TDleft">附件：</td>
		    	<td colspan="3">
		    		  
		    	
		    		  
<div id="div_attachment">
					
		 <!-- 如果有附件就显示 -->	     
	<notempty name="mo.attachment_url">
		  <foreach name="attachment_urlArr" item="vo" key="k">   
		     <div>	      
		       <a href="{$vo}" target="_blank">{$attachmentArr[$k]}</a>
		       <input type="hidden" id="attachment" name="attachment[]" value="{$attachmentArr[$k]}"  />
		       <input type="hidden" id="attachment_url" name="attachment_url[]" value="{$vo}" />
		       <a onclick="removeParent(this)"><img src="__PUBLIC__/images/remove.png" /></a>
		     </div>	   
		  </foreach>
	</notempty>
		    		  
</div>  		  
		    		<input type="file" id="file_attachment" name="file_attachment" onchange="doUpload(this)" />
		    	</td>
		    </tr>
		    
		    <tr>
		    	<td class="TDleft">高拍仪：</td>
		    	<td colspan="3">
		    		<div id="div_gpy_attachment">
	
	<notempty name="mo.gpy">
		  <foreach name="gpyArr" item="vo" key="k">   
		     <div>	      
		       <a href="__UPLOADS__/gpy/{$vo}" target="_blank">{$vo}</a>
		       <input type="hidden" id="gpy" name="gpy[]" value="{$vo}" />
		       <a onclick="removeParent(this)"><img src="__PUBLIC__/images/remove.png" /></a>
		     </div>	   
		  </foreach>
	</notempty>	
		
		    		</div>
		    		<input type="button" name="" value="从高拍仪拍照" onclick="popLayer()" />
		    		
		    	</td>
		    </tr>
		    
							</table>
							
							<fieldset>
								<legend>
									拜访信息
								</legend>
							    <table class="youAdd">
								    	
								    	<tr>
								    	   <th >拜访企业<font color="red">*</font></th>
								    	    <th>接洽人姓名<font color="red">*</font></th>
								    	     <th>接洽人职务<font color="red">*</font></th>
								    	      <th>操作</th>
								    	</tr>
								    	  
								  <empty name="mo">	
								    	<tr>
								    	   <td><input type="text" name="visit_company[]" value="" class="input-large" required="required"></td>
								    	    <td><input type="text" name="vister_man[]" value="" class="input-large" required="required"></td>
								    	     <td><input type="text" name="vister_man_position[]" value="" class="input-large" required="required"></td>
								    	    <td>
								    	    	<a href="javascript:#" onclick="addItem(this)">添加一行</a>
								    	    	<a href="javascript:#" onclick="removeItem(this)">删除一行</a>
								    	    </td>
								    	</tr>
								    	    
								    	    <else /> 
		<notempty name="mo.visit_company">						    	    
		 <foreach name="visit_companyArr" item="vo" key="k">   
		     
		                               <tr <eq name="k%2" value="0">
										class="odd"
										<else/>
										class="even"
									</eq>>
								    	   <td><input type="text" name="visit_company[]" value="{$vo}" class="input-large" required="required"></td>
								    	    <td><input type="text" name="vister_man[]" value="{$vister_manArr[$k]}" class="input-large" required="required"></td>
								    	     <td><input type="text" name="vister_man_position[]" value="{$vister_man_positionArr[$k]}" class="input-large" required="required"></td>
								    	    <td>
								    	    	<a href="javascript:#" onclick="addItem(this)">添加一行</a>
								    	    	<a href="javascript:#" onclick="removeItem(this)">删除一行</a>
								    	    </td>
								    	</tr>
		  </foreach>
		  </notempty>
								    	    
								   </empty >
								    	    
								 </table>
								 </fieldset>
							
				</form>		

							
							<h3>审核信息：</h3>
							{$mo.opinion}
							<hr>

							<!-- <fieldset>
								<legend>
									<small>填表说明：</small>
								</legend>
								<p class="table-notes">
									本表仅统计县市区党政主要负责人、分管领导以及招商局主要负责人外出情况.
								</p>
							</fieldset> -->

			
					</div>

				</div>
			</div>
		</div>
		
	</body>

</html>
