<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>用户列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/theme.css">
	</head>

	<body>
		<div class="content">
			<ul class="breadcrumb">
				<li>
					<a href="__APP__/Admin/Index/main.html">首页</a><span class="divider">/</span>
				</li>
				<li class="active">
					驻外招商一览表
				</li>
			</ul>

			<div class="container-fluid">
				<div class="row-fluid">
					
					<div class="block-tab">
    <table class="table-mins">
							<thead>
								<tr>
									<th>
									<input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll(this)">
									</th>
									<th>项目名称或项目建设内容</th>
									<th>拟投资额（亿元）</th>
									<th>投资方</th>
									<th>省内资金</th>
									<th>省外资金</th>
									<th>外资</th>
									<th>用地面积（亩）</th>
									<th>项目进展状态</th>
									<th>责任领导</th>
									<th>备注</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>

								<foreach name="list" item="vo" key="k">

									<tr id="{$vo.id }">
										<td>
										<input type="checkbox" name="chk" id="chk">
										</td>
										<td>{$vo.name_content}</td>
										<td>{$vo.plan_invest}</td>
										<td>{$vo.investor}</td>
										<td>{$vo.in_capital}</td>
										<td>{$vo.out_capital}</td>
										<td>{$vo.foreign_capital}</td>
										<td>{$vo.use_land}</td>
										<td><font color="red">{$vo.status}</font></td>
										<td>{$vo.duty_leader}</td>
										<td>{$vo.remark}</td>
										<td>
											<a href="__URL__/industrySee?id={$vo.id}">查看</a>
										</td>
									</tr>

								</foreach>

							</tbody>
						</table>
					</div>

											<div class="block-foot">
											        <div class="pagination">
											            {$page}
											        </div>
											</div>

				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>

	<script type="text/javascript">
		//删除
		function doDelete() {
			var ids = getId('delete');
			if (ids == false) {
				return;
			}
			//alert(ids);
			if (confirm("确定删除吗？")) {
				location.href = '__URL__/delete?ids=' + ids;
			}
		}

		
	</script>
</html>
